body {
    background-color: black;
}
#palco {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#final {
    border-radius: 10px;
    z-index: 5;
    margin: 0;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}
#final-text {
    text-align: center;
    padding: 100px 20px 20px 20px;
    color: white;
    
}
#titulo {
    font-size: 30px;
    font-weight: bold;
}